.evp-definition-main-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.evp-definition-table-container {
  width: 100%;
  height: 34rem;
  overflow-y: auto;
}

.evp-definition-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
}

.evp-definition-table-thead-th,
.evp-definition-table-tbody-td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  font-family: "Roboto";
  font-size: 1.5rem;
}

.evp-definition-table-tbody-td {
  color: #918e8e;
}

.fixed-column {
  background-color: #f9f9f9;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  color: #636060;
}

.evp-definition-buttons {
  width: 15%;
  height: 2.5rem;
}

.evp-definition-buttons button {
  width: 100%;
  height: 100%;
  border: none;
  cursor: pointer;
  border-radius: 0.3rem;
  background-image: linear-gradient(to right, #9c4f98, #6193b8);
  color: #fff;
  font-family: "Roboto";
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 1.2rem;
  box-shadow: 2px 2px 2px #888888;
}

@media (max-width: 1440px) {
  .evp-definition-table-container {
    max-height: 35rem;
  }
}
