@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

.primaryResearch-main-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6rem;
  padding: 1rem;
}

.primaryResearch-information {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.primaryResearch-information-headings {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.primaryResearch-information-unordered-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 1rem;
  list-style-type: decimal;
}

.primaryResearch-uploadContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 40rem;
  max-height: 40rem;
  overflow-y: auto;
  border-radius: 1rem;
}

.primary-research-container {
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: auto;
  border-radius: 1rem;
  padding: 1rem;
}

.primary-research-nextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  height: 100%;
}

.primary-research-nextContainer-para {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 1.8rem;
  display: inline-block;
}

.primary-research-dataGather {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  height: 100%;
}

.primary-research-interview {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.primary-research-interview-inputField {
  display: flex;
  justify-content: space-between;
}

.primary-research-interview-inputField input {
  width: 90%;
}

.primary-research-interview-inputField button {
  width: 1rem;
}

.primary-research-interview-button {
  width: 3rem;
  height: 1.5rem;
  margin-left: 32%;
}

.primary-research-thinkTanks {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.primary-research-thinkTank {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.primary-research-thinkTank-label {
  display: flex;
  gap: 0.2rem;
}

.primary-research-thinkTank-label button {
  width: 1.3rem;
}

.primary-research-thinkTank-inputField {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.primary-research-thinkTank-inputField-more {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.primary-research-thinkTank-inputField-more input {
  width: 90%;
}

.primary-research-thinkTank-inputField-more button {
  width: 1rem;
}

.primary-research-thinkTank-button {
  width: 3rem;
  height: 1.5rem;
  margin-left: 32%;
}

.design-container {
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 25rem;
  border-radius: 1rem;
  padding: 1rem;
}

.design-nextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  height: 100%;
  overflow-y: auto;
}

.design-nextContainer-para {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 1.8rem;
  display: inline-block;
}

.design-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  gap: 2rem;
  width: 70%;
  position: relative;
}

.design-form svg {
  position: absolute;
  left: 0.2rem;
  top: 10%;
  cursor: pointer;
}

.design-button {
  width: 45%;
  height: 3rem;
  background-color: black;
  color: white;
  border: none;
  border-radius: 0.5rem;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 1.4rem;
  cursor: pointer;
}

.design-file-display-area {
  width: 100%;
  margin-top: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  max-height: 100px;
  overflow-y: auto;
  text-align: center;
  min-height: 2.5rem;
  max-height: 5rem;
  overflow-y: auto;
  cursor: pointer;
}

.design-file-name {
  font-size: 1rem;
  color: #655c5c;
  font-weight: 500;
}

.transcript-container {
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 25rem;
  border-radius: 1rem;
  padding: 1rem;
}

.transcript-nextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  height: 100%;
  overflow-y: auto;
}

.transcript-nextContainer-para {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 1.8rem;
  display: inline-block;
}

.transcript-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  gap: 2rem;
  width: 70%;
  position: relative;
}

.transcript-form svg {
  position: absolute;
  left: 0.2rem;
  top: 10%;
  cursor: pointer;
}

.transcript-button {
  width: 45%;
  height: 3rem;
  background-color: black;
  color: white;
  border: none;
  border-radius: 0.5rem;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 1.4rem;
  cursor: pointer;
}

.transcript-file-display-area {
  width: 100%;
  margin-top: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  max-height: 100px;
  overflow-y: auto;
  text-align: center;
  min-height: 2.5rem;
  max-height: 5rem;
  overflow-y: auto;
  cursor: pointer;
}

.design-file-name {
  font-size: 1rem;
  color: #655c5c;
  font-weight: 500;
}

@media (max-width: 1440px) {
  .primaryResearch-main-container {
    max-height: 39rem;
  }

  .primaryResearch-uploadContainer {
    height: 100%;
  }
}
