@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

.secondaryResearch-main-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10rem;
  padding: 1rem;
}

.secondaryResearch-information {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.secondaryResearch-information-top {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.secondaryResearch-information-top-para-heading {
  font-family: "Roboto";
  font-size: 3rem;
  color: #247d97;
}

.secondaryResearch-para {
  font-family: "Roboto";
  font-size: 2.2rem;
  font-weight: 400;
}

.secondaryResearch-info-para {
  font-family: "Roboto";
  font-size: 1.3rem;
  color: #808080;
}

.secondaryResearch-information-bottom {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.secondaryResearch-information-bottom h4 {
  font-family: "Roboto";
  font-size: 1.7rem;
}

.secondaryResearch-information-bottom-unordered-list {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  padding-left: 1.5rem;
  font-family: "Roboto";
  font-size: 1.3rem;
  color: #808080;
  list-style-type: decimal;
}

.secondaryResearch-right {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}

.secondaryResearch-uploadContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: #efeeee;
}

.secondaryResearch-uploadContainer h1 {
  font-family: "Roboto";
  font-size: 2rem;
}

.secondaryResearch-form {
  height: 100%;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.secondaryResearch-form input[type="email"],
.secondaryResearch-form input[type="url"],
.secondaryResearch-form input[type="text"] {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.4rem;
  border: 1px solid #ccc;
  height: 2.5rem;
  font-size: 1rem;
  text-align: center;
}

.secondaryResearch-button {
  width: 45%;
  height: 3rem;
  border: none;
  cursor: pointer;
  border-radius: 0.3rem;
  background-image: linear-gradient(to right, #9c4f98, #6193b8);
  color: #fff;
  font-family: "Roboto";
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 1.2rem;
  box-shadow: 2px 2px 2px #888888;
}

.secondaryResearch-form svg {
  position: absolute;
  left: 0.2rem;
  top: 49%;
  cursor: pointer;
}

.secondaryResearch-file-display-area {
  width: 100%;
  margin-top: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  max-height: 100px;
  overflow-y: auto;
  text-align: center;
  min-height: 2.5rem;
  max-height: 5rem;
  overflow-y: auto;
  cursor: pointer;
}

.secondaryResearch-file-name {
  font-size: 1rem;
  color: #655c5c;
  font-weight: 500;
}

.secondaryResearch-design-principles-container {
  height: 100%;
  padding: 1rem;
  background-color: #efeeee;
}

.secondaryResearch-design-principles {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 3fr;
  justify-items: center;
  gap: 1rem;
}

.secondaryResearch-design-principles h1 {
  font-family: "Roboto";
  font-size: 2rem;
}

.secondaryResearch-design-principles label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
}

.secondaryResearch-add-design-principles-container {
  height: 100%;
  width: 100%;
  max-height: 8rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: auto;
}

.secondaryResearch-add-design-principles {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.secondaryResearch-add-design-principles textarea {
  min-width: 90%;
  min-height: 3rem;
  border: 1px solid #dddcdc;
  background-color: #f8f8f8;
  font-family: "Roboto";
  font-size: 1.5rem;
  color: #918e8e;
  padding: 0.5rem;
  resize: vertical;
  overflow-y: hidden;
}

@media (max-width: 1440px) {
  .secondaryResearch-main-container {
    height: 39rem;
  }

  .secondaryResearch-information {
    gap: 1rem;
  }

  .secondaryResearch-info-para {
    font-size: 1.2rem;
  }

  .secondaryResearch-information-bottom-unordered-list {
    font-size: 1.2rem;
  }

  .secondaryResearch-uploadContainer {
    height: 100%;
  }
}
