@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

.secondaryResearch-main-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6rem;
  padding: 1rem;
}

.secondaryResearch-information {
  width: 100%;
  height: 50%;
}

.secondaryResearch-information p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  color: #918e8e;
}

.secondaryResearch-uploadContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 40rem;
  border-radius: 1rem;
}

.secondaryResearch-para {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 1.8rem;
}

.secondaryResearch-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  gap: 2rem;
  width: 70%;
  position: relative;
}

.secondaryResearch-form input[type="email"],
.secondaryResearch-form input[type="url"],
.secondaryResearch-form input[type="text"] {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.4rem;
  border: 1px solid #ccc;
  height: 2.5rem;
  font-size: 1rem;
  text-align: center;
}

.secondaryResearch-button {
  width: 45%;
  height: 3rem;
  background-color: black;
  color: white;
  border: none;
  border-radius: 0.5rem;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 1.4rem;
  cursor: pointer;
}

.secondaryResearch-container-right {
  font-size: large;
  font-weight: 500;
}

.secondaryResearch-form svg {
  position: absolute;
  left: 0.2rem;
  top: 49%;
  cursor: pointer;
}

.secondaryResearch-file-display-area {
  width: 100%;
  margin-top: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  max-height: 100px;
  overflow-y: auto;
  text-align: center;
  min-height: 2.5rem;
  max-height: 5rem;
  overflow-y: auto;
  cursor: pointer;
}

.secondaryResearch-file-name {
  font-size: 1rem;
  color: #655c5c;
  font-weight: 500;
}
