@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

.secondaryResearch-main-container {
  height: 100%;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10rem;
  padding: 1rem;
}

.secondaryResearch-information {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.secondaryResearch-information-top {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.secondaryResearch-information-top h1 {
  font-family: "Roboto";
  font-size: 3rem;
  color: #071475e6;
}

.secondaryResearch-information-top p {
  font-family: "Roboto";
  font-size: 3rem;
  font-weight: 400;
}

.secondaryResearch-information-bottom {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.secondaryResearch-information-bottom h4 {
  font-family: "Roboto";
  font-size: 2rem;
  color: #071475e6;
}

.secondaryResearch-information-bottom-unordered-list {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  padding-left: 1.5rem;
  font-family: "Roboto";
  font-size: 1.5rem;
  list-style-type: decimal;
}

.secondaryResearch-uploadContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #efeeee;
}

.secondaryResearch-uploadContainer h1 {
  font-family: "Roboto";
  font-size: 3rem;
  color: #071475e6;
}

.secondaryResearch-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  gap: 2rem;
  width: 50%;
  position: relative;
}

.secondaryResearch-form input[type="email"],
.secondaryResearch-form input[type="url"],
.secondaryResearch-form input[type="text"] {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.4rem;
  border: 1px solid #ccc;
  height: 2.5rem;
  font-size: 1rem;
  text-align: center;
}

.secondaryResearch-button {
  width: 45%;
  height: 3rem;
  border: none;
  cursor: pointer;
  border-radius: 0.3rem;
  background-image: linear-gradient(to right, #9c4f98, #6193b8);
  color: #fff;
  font-family: "Roboto";
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 1.2rem;
  box-shadow: 2px 2px 2px #888888;
}

.secondaryResearch-container-right {
  font-size: large;
  font-weight: 500;
}

.secondaryResearch-form svg {
  position: absolute;
  left: 0.2rem;
  top: 49%;
  cursor: pointer;
}

.secondaryResearch-file-display-area {
  width: 100%;
  margin-top: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  max-height: 100px;
  overflow-y: auto;
  text-align: center;
  min-height: 2.5rem;
  max-height: 5rem;
  overflow-y: auto;
  cursor: pointer;
}

.secondaryResearch-file-name {
  font-size: 1rem;
  color: #655c5c;
  font-weight: 500;
}

@media (max-width: 1440px) {
  .secondaryResearch-main-container {
    height: 39rem;
  }

  .secondaryResearch-uploadContainer {
    height: 100%;
  }
}
