/* .evp-embedment-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.evp-embedment-container label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  color: #636060;
}

.evp-embedment {
  height: 30rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 75%;
}

.evp-embedment-selection {
  display: flex;
  justify-content: space-between;
}

.evp-embedment-selection label {
  font-family: "Roboto";
  font-size: 1.2rem;
}

.evp-embedment-selection-inside {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  width: 35%;
}

.evp-embedment-selection-inside-select {
  display: flex;
  justify-content: space-between;
}

.evp-embedment-buttons {
  width: 15%;
  height: 2.5rem;
}

.evp-embedment-buttons button {
  width: 100%;
  height: 100%;
  border: none;
  cursor: pointer;
  border-radius: 0.3rem;
  background-image: linear-gradient(to right, #9c4f98, #6193b8);
  color: #fff;
  font-family: "Roboto";
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 1.2rem;
  box-shadow: 2px 2px 2px #888888;
}

@media (max-width: 1440px) {
  .evp-embedment {
    max-height: 30rem;
  }
}

@media (max-width: 1024px) {
  .evp-embedment {
    max-height: 31rem;
    width: 84%;
  }
} */

.evp-embedment-main-container {
  height: 100%;
  width: 100%;
  padding: 1rem;
}

.evp-embedment-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 5rem 1fr 2.5rem;
  gap: 0.5rem;
}

.evp-embedment-tabs {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 0.2rem;
}

.evp-embedment-tab {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d5d4d4;
  cursor: pointer;
}

.evp-embedment-tab:hover {
  background-color: #247d97;
}

.evp-embedment-tab.active {
  color: #fff;
  background-color: #247d97;
}

.evp-embedment-tab p {
  font-family: "Roboto";
  text-align: center;
  font-size: 1.2rem;
}

.evp-embedment-table-container {
  height: 27rem;
  width: 100%;
  overflow-y: auto;
}

.evp-embedment-table {
  height: 100%;
  width: 100%;
}

.evp-embedment-table th,
.evp-embedment-table td {
  padding: 8px 12px;
  text-align: left;
  font-family: "Roboto";
  font-size: 1.2rem;
  border: 1px solid #ddd;
}

.evp-embedment-table th {
  background-color: #dfdede;
  font-size: 1.4rem;
}

.evp-embedment-table td:nth-child(1),
.evp-embedment-table th:nth-child(1) {
  width: 21%;
}

.evp-embedment-table td:nth-child(2),
.evp-embedment-table th:nth-child(2) {
  width: 54%;
}

.evp-embedment-table td:nth-child(3),
.evp-embedment-table th:nth-child(3) {
  width: 20%;
  text-align: center;
}

.evp-embedment-table tr:nth-child(odd) {
  background-color: #f7f6f6;
}

.evp-embedment-table tr:nth-child(even) {
  background-color: #dfdede;
}

.evp-embedment-table input[type="checkbox"] {
  transform: scale(1.2);
  cursor: pointer;
}

.evp-embedment-table tr.selected {
  background-color: #5fa95f;
  color: white;
}

.evp-embedment-button {
  width: 10%;
  height: 100%;
}

.evp-embedment-button button {
  width: 100%;
  height: 100%;
  font-family: "Roboto";
  font-size: 1.3rem;
  border: none;
  background-color: #247d97;
  color: #fff;
  cursor: pointer;
}
