.talent-dataset-main-container {
  height: 100%;
  display: grid;
  grid-template-rows: 7rem 1fr 2rem;
  gap: 2rem;
}

.talent-dataset-top {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.talent-dataset-para-heading {
  font-family: "Roboto";
  font-size: 3rem;
  color: #247d97;
}

.talent-dataset-para {
  font-family: "Roboto";
  font-size: 2.2rem;
  font-weight: 400;
}

.talent-dataset-table-container {
  width: 100%;
  height: 100%;
  max-height: 25rem;
  padding: 1rem;
  overflow-y: auto;
}

.talent-dataset-table {
  width: 100%;
  border-collapse: collapse;
}

.talent-dataset-table-thead-th,
.talent-dataset-table-tbody-td {
  border-top: 2px solid #ddd;
  padding: 8px;
  text-align: left;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  color: #918e8e;
}

.talent-dataset-table tbody tr:nth-child(odd) {
  background-color: #f7f6f6;
}

.talent-dataset-fixed-column {
  padding-left: 1.5rem;
}

.talent-dataset-buttons {
  width: 15%;
  height: 2.5rem;
}

.talent-dataset-buttons button {
  width: 100%;
  height: 100%;
  border: none;
  cursor: pointer;
  border-radius: 0.3rem;
  background-image: linear-gradient(to right, #9c4f98, #6193b8);
  color: #fff;
  font-family: "Roboto";
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 1.2rem;
  box-shadow: 2px 2px 2px #888888;
}

@media (max-width: 1440px) {
  .talent-dataset-table-container {
    height: 34rem;
  }
}
