.talent-insights-main-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  padding: 5rem;
}

.talent-insights-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 5rem 1fr;
  gap: 1rem;
}

.talent-insights-heading h1 {
  font-family: "Roboto";
  font-size: 2.5rem;
}

.talent-insights-below {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 30rem 1fr;
  gap: 2rem;
}

.talent-insights-below-left {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 2.5rem;
  gap: 1rem;
}

.talent-insights-below-left-top {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 1rem;
}

.talent-insights-below-left-data {
  height: 100%;
  width: 100%;
  border: 2px solid #dddcdc;
}

.talent-insights-below-left-data-fields {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  font-family: "Roboto";
  font-size: 1.3rem;
  padding: 3rem;
}

.talent-insights-button {
  width: 20%;
  height: 100%;
}

.talent-insights-button button {
  width: 100%;
  height: 100%;
  font-family: "Roboto";
  font-size: 1.3rem;
  border: none;
  background-color: #247d97;
  color: #fff;
  cursor: pointer;
}

.talent-insights-below-right {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  padding: 2rem;
  border: 2px solid #dddcdc;
}

.talent-insights-below-right-first {
  height: 100%;
  width: 100%;
  border: 1px solid red;
}

.talent-insights-below-right-second {
  height: 100%;
  width: 100%;
  border: 1px solid red;
}

.talent-insights-below-right-third {
  height: 100%;
  width: 100%;
  border: 1px solid red;
}
