.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #232020;
  color: white;
  padding: 1.5rem;
}

.navbar-stimulai-img {
  width: 10%;
}

.navbar-stimulai-img img {
  width: 100%;
  height: auto;
  min-width: 100px;
}

.navbar-left p {
  font-family: "Roboto";
  font-size: 1.5rem;
}

.navbar-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.5rem;
}

.navbar-user-img {
  width: 8%;
}

.navbar-user-img img {
  display: block;
  width: 100%;
  height: auto;
}

.navbar-right p {
  font-family: "Roboto";
  font-size: 1.2rem;
}
