@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.company-detail-main-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.company-detail-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 90px 1fr;
}

.company-detail-navbar {
  width: 100%;
  height: 90px;
}

.company-detail-navbar ul {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fafafa;
  flex-wrap: wrap;
}

.company-detail-navbar li {
  list-style-type: none;
  padding: 0.5rem 1rem;
  width: 170px;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  cursor: pointer;
}

.company-detail-navbar li.active {
  background-color: #e1ebee;
}

/* .company-detail-navbar li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 5px;
  background-image: linear-gradient(
    to right,
    purple,
    rgb(108 158 175),
    rgb(20 71 89)
  );
  margin-top: 0.5rem;
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.company-detail-navbar li.active::after {
  left: 0;
  width: 100%;
} */

.company-detail-navbar li:hover {
  background-color: #e1ebee;
  transition: background-color 0.8s ease;
}

.company-detail-below {
  height: 42rem;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 8fr;
  gap: 4rem;
  padding: 3rem 0 1rem 0;
}

.company-detail-below-secondContainer {
  height: 100%;
}

.company-detail-below-thirdContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}

.company-detail-below-thirdContainer-chatting {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #fafafa;
  border-left: 0.1px solid #a3a0a0;
  padding: 1rem;
  min-height: 42rem;
  max-height: 42rem;
  overflow-y: auto;
}

.company-detail-below-thirdContainer-chatting-1 {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}

.company-detail-below-thirdContainer-chatting-1 p {
  font-size: large;
  color: #5d5a5a;
}

.company-detail-below-thirdContainer-inp {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0.5rem;
  grid-auto-rows: auto;
  text-align: center;
  position: relative;
}

.company-detail-below-thirdContainer-inp svg {
  position: absolute;
  left: 0.5rem;
  top: 15%;
}

.company-detail-below-thirdContainer-inp textarea {
  border: none;
  background-color: #fafafa;
  border-radius: 0.5rem;
  outline: none;
  text-align: center;
  resize: none;
  overflow-y: auto;
  min-height: 3rem;
  max-height: 7rem;
  padding: 0.5rem;
  box-sizing: border-box;
}

.company-detail-below-thirdContainer-inp button {
  border: none;
  border-radius: 0.5rem;
  background: none;
}

@media (max-width: 1440px) {
  .company-detail-below {
    height: 42rem;
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
