@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.company-detail-below-secondContainer-div-div {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 1.4rem;
}

.company-detail-below-secondContainer-div-div textarea {
  width: 100%;
  min-height: 3rem;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.2rem;
  padding: 0.5rem;
  resize: vertical;
  overflow-y: hidden;
}

.company-detail-below-secondContainer-div-div-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
}

.company-detail-below-secondContainer-div-div-buttons button {
  width: 7rem;
  height: 3rem;
  margin-top: 1rem;
  background-color: #000000;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: larger;
}

.transcript-container {
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.1);
  width: 40%;
  margin-top: 5rem;
  height: 25rem;
  border-radius: 1rem;
  padding: 1rem;
}

.transcript-nextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  height: 100%;
  overflow-y: auto;
}

.transcript-nextContainer-para {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 1.8rem;
  display: inline-block;
}

.transcript-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  gap: 2rem;
  width: 70%;
  position: relative;
}

.transcript-form svg {
  position: absolute;
  left: 0.2rem;
  top: 10%;
  cursor: pointer;
}

.transcript-button {
  width: 45%;
  height: 3rem;
  background-color: black;
  color: white;
  border: none;
  border-radius: 0.5rem;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 1.4rem;
  cursor: pointer;
}

.transcript-file-display-area {
  width: 100%;
  margin-top: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  max-height: 100px;
  overflow-y: auto;
  text-align: center;
  min-height: 2.5rem;
  max-height: 5rem;
  overflow-y: auto;
}

.transcript-file-name {
  font-size: 1rem;
  color: #655c5c;
  font-weight: 500;
}
